[user]
	name = axzilla
	email = hello@axeladrian.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
